.header a ,a:hover{
color: #f0ad4e;
text-decoration: none;
}  /*для ссылок задали цвет и убрали нижне подчеркивание  */
.header h1{
	letter-spacing: 6px;
	font-size: 400%;

} /*для кино монстр задали интервал между буквами и размер  */
.header p{
	color: white !important;
	font-size: 100%;
	letter-spacing: 3px;
} /* для кино наша страсть задали цвет с пометкой важно, размер и интервал между букв */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #346270;
 } /*в меню активная ссылка задали цвет и фон */
 .nav-pills>li>a{
 	color:#fff ;
 } /* цвет в меню букв */
 .nav-pills>li>a:hover{
 	background-color: #346270;
 }/* для меню при наведении изменение текста*/
 .navbar-inverse{
    border-radius: 0;
 	padding: 1%;
 } /* для черной части сайта задли отступ и убрали закругление углов */
 @media (max-width: 767px){
 .nav-pills>li{
    float: none;
 }/* для меню зададаем параметр если ширина экрана меньше 767px, то наше меню растянется вниз */
.nav-pills{
   text-align: center; 
}/*всему меню дали команду стать поцентру*/
  .header h1{
    letter-spacing: 5px;
    font-size: 280%;
}
  .header {
     text-align: center;
}/* всё что в голове размещение по центру */

}/*все это обращение, если экран меньше 767px */
.clear{
    clear: both;
    height: 63px;
}
.wrapper{
    min-height: 100%;
}/* прижимает нижнюю часть к низу */
html, body{
    height: 100%;
}/* для всей страницы и тела высота 100% */
.first{
    font-size: 150%;
    color: #FFF;
}
a{
    color: #dad7d5;
}
.films_block{
    text-align: center;
}/* для блока фильм текст по центру */
.films_block img{
   
    margin-bottom: 5%;
    border-radius: 5px;
    border: solid 5px #dad7d5;
    width: 80%;
}
.films_block_bag img{
     margin-bottom: 5%;
    border-radius: 5px;
    border: solid 5px #dad7d5;
    width: 100%;
}
.films_blocks img{
    margin-left: -25%;
    margin-bottom: 5%;
    border-radius: 5px;
    border: solid 5px #dad7d5;
    width: 150%;
}
.film_label{
    padding: 2%;
    margin-bottom: 4%;
}/*для текста по картинками отсуп внутренний и внешний*/

margin-8{
    margin-top: 8%;
}
.panel{
    border: none; 
}/*убрали линии в поиске*/
.panel-body{
    background-color: #f9f9f9;
}/*задали заливку под поиском*/ 
.panel-info>.panel-heading{
background-color: #f0ad4e;
color: white;
border-color: transparent;
}/*задали фон панели поиск, цвет букв и Устанавливает прозрачный цвет*/ 
.sidebar-header{
    font-size: 120%;
    letter-spacing: 2px;
}/*размер букв поиска и интервал*/
.form-control{
   border-radius: 0px;
}
.input-lg{
    font-size: 14px;
}/*размер текста внутри поиска*/

.list-group-item-warning a{
    color: #8a6d3b;
    background-color: #000000;
}/*стиль для ссылок в рейтинге*/
.badge{
    background-color: #000000;
}/*залили цифры черным*/

.info-block {
    font-size: 120%;
}/*размер в рейтинге под филмом*/
.info-block .badge{
    font-size: 80%;
}/*размер текста в иконках под фильмом*/
.info-block span{
    margin-right: 3%;
}/*отступ между ними*/


textarea.form-control{
    height: 200px;
}
.panel .glyphicon{
    padding-right: 1%;
}
.contacts{
    font-size: 120%;
}

.reg{
    border: none;
    padding-top: 5px;
}
.reg a{
    color: #000000;
}
.reg a:hover{
    color: #555555;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}/*выравнивание по центру квадрата тектс в таблице*/
body{
    background-color: #a8b4c1;
}
footer{
    color: #999;
    background-color: #222;
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;
}/* для подвала цвет букв, фон, отступы и полосочку сверху размером 1px, полоса и цвет */
footer a:hover{
    color: #efefef;
}/* изменение цвета при наведении */

